{% extends 'base.html.twig' %}

{% block title %}Mon compte - Boutique!
{% endblock %}

{% block content %}
	<h1>Bonjour
		{{app.user.firstname}}</h1>

	<a href="{{ path('app_account_password') }}">
		<span>Modifier mon mot de passe</span>
	</a>
	<br>
	<a href="{{ path('app_account_adress') }}">
		<span>Gérer mes adresses</span>
	</a>
{% endblock %}
