{% extends 'base.html.twig' %}

{% block title %}
	Modification mot de passe - Boutique!
{% endblock %}

{% block content %}
	<h1>Modifier mon mot de passe</h1>
	Retour à
	<a href="{{ path('app_account') }}">mon compte</a>
	<hr>
	{% if notification %}
		<div class="alert alert-info">
			{{ notification }}
		</div>
	{% endif %}
	{{form(form)}}{% endblock %}
