.navbar-item-custom a {
    color: white;
}

.product {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
}

.image-custom {
    flex: 1;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.product-subtitle {
    display: block;
    font-size: 15px;
    margin-bottom: 5epx;
}

.product-name {
    margin-bottom: 0px !important;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
}

.product-page-price {
    font-size: 19px;
}

.product-cart {
    object-fit: cover;
    width: 75px;
    height: 75px;
}

.cart-price {
    display: inline-block;
    font-size: 19px;
}

.oneline-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
}

.form-check {
    padding: 20px;
    background-color: #f1faff;
    margin-top: 10px;
    border-radius: 7px;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    padding: 20px;
    background-color: #f1faff;
    margin-top: 10px;
    border-radius: 7px;
}