{% extends 'base.html.twig' %}

{% block title %}
	Blog - Keycaps artisans
{% endblock %}

{% block content %}
	<div class="row justify-content-md-center">

		<article
			class="blog-post col-md-7">
			<!-- Pas du tout de ma rédaction c/c d'ici https://dotesports.com/hardware/news/what-are-artisan-keycaps-->
			<h3>What are artisan keycaps ?</h3>
			<img src="/uploads/k1.jpg" class="img-fluid mt-5 mb-5" alt="...">
			<p>Commonly found in online stores and marketplaces, artisan keycaps are a fun way to make a keyboard unique and express your personal style. 
																																																																			
																																																																			Ranging from 3D-printed, solid-color caps to painstakingly hand-sculpted and hand-painted resin caps, artisan keycaps come in a vast variety of shapes, styles, colors, and textures. Themes like pop culture, video game culture, plant terrariums, food, anatomy, kitty cats, and more make artisan keycaps desirable for gamers looking to make their gaming setup individualized and special.

			</p>
			<h3>How artisan keycaps are made
			</h3>
			<img src="/uploads/k2.png" class="img-fluid" alt="...">
			<p>While crafting keycaps is something different kinds of artists can probably do in numerous ways, the most common way to make artisan keycaps is to use casting resin and a mold. Resin is a type of plastic that is somewhat viscous and therefore good for casting in molds. Artists can mix dyes, and other materials, like glitter, with the casting resin to give the keycap its color before filling the mold. 
																																																													Many artisan keycap makers have their own molds they have designed and created themselves. One way they might make a mold is by first sculpting their desired shape out of clay, then pressing the clay sculpture into a mold, letting it dry, and then carefully removing it. Once the mold is prepared, the artist can then fill the mold with the casting resin for the keycap. Professionals use an array of tools in addition to the ones mentioned above including, popsicle sticks, toothpicks, droppers, syringes, and paintbrushes.
			</p>
			<img src="/uploads/k3.png" class="img-fluid" alt="...">

			<p>Artists often get creative with the materials they add to the process. Craft materials, such as beads and wood pieces, are some examples of other types of materials artists may use to enhance a design. However, making DIY artisan keycaps can also be enjoyed as a hobby by anyone with the most basic tools.
			</p>
		</article>
	</div>
{% endblock %}
